name: Build BFF GUI (Windows)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout BFF source
      uses: actions/checkout@v3

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Create Build Directory
      run: cmake -S . -B build -DBFF_BUILD_APPS=ON

    - name: Build
      run: cmake --build build --config Release

    - name: Package Executable
      run: |
        mkdir package
        copy build\Release\bff-app.exe package\
        powershell -Command "Compress-Archive package bff-gui-win.zip"

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: bff-windows-gui
        path: bff-gui-win.zip
